<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <MobWeb_OrderStatusUpdateOnShipment>
            <version>0.1.0</version>
        </MobWeb_OrderStatusUpdateOnShipment>
    </modules>
    <global>
        <models>
            <!-- This "handle" is referenced later on, see the next comment -->
            <orderstatusupdateonshipment>
                <class>MobWeb_OrderStatusUpdateOnShipment_Model</class>
            </orderstatusupdateonshipment>
        </models>
    </global>
    <adminhtml>
        <events>
            <sales_order_shipment_save_after>
                <observers>
                    <orderstatusupdateonshipment>
                        <type>singleton</type>
                        <!-- This is where we reference the model that was defined earlier -->
                        <class>orderstatusupdateonshipment/observer</class>
                        <!-- This can be named anything, but it has to match a method in the class defined in the previous line -->
                        <method>salesOrderShipmentSaveAfter</method>
                    </orderstatusupdateonshipment>
                </observers>
            </sales_order_shipment_save_after>
        </events>
    </adminhtml>
</config>